.buttons{
    display:flex;
    flex-direction: row;
    height: 50px;
    margin-left: 5fr; 
  }
  
  .navbar{
    background-color: #0d47a1 !important;
    padding: 1rem 3rem;
  }
  .navbar-brand{
    color: white !important;
  }
 